
[user]
   email = theycallmethedr@gmail.com
   name = Ayman Nedjmeddine
   username = IOAyman
   signingkey = FC1C3E552DD1CF5C
[core]
   editor = vim
   autocrlf = input
[color]
   ui = true
[push]
   default = simple
[alias]
   s = status
   ss = status -s
   a = add
   c = commit
   l = log --oneline --graph
   m = merge
   b = branch
   d = diff
   dc = diff --cached
   pl = pull -a
   ps = push
   ck = checkout
   cp = cherry-pick
   cl = clone
   rs = reset
   rshd = reset --hard
   rsmx = reset --mixed
   clf = clean -f
   rb = rebase -i
   st = stash
   forget = update-index --assume-unchanged
   unforget = update-index --no-assume-unchanged
[gpg]
   program = gpg2
[commit]
   gpgsign = true

