[Desktop Entry]
Name=InteliJ Idea
Comment=
Exec=/home/linuxer/Data/Develop/.workingWith/intellij-idea/bin/idea.sh
Icon=/home/linuxer/Data/Develop/.workingWith/intellij-idea/bin/idea.png
#Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
#NoDisplay=false
