[Desktop Entry]
Name=WebStorm
Comment=
Exec=/home/linuxer/Data/Develop/.workingWith/webstorm/bin/webstorm.sh
Icon=/home/linuxer/Data/Develop/.workingWith/webstorm/bin/webide.png
#Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
#NoDisplay=false
